form{
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: solid 1px #685ae4;
    padding-bottom: 10px;
    margin: auto;
    background: #fafafa;
}

input[type=texfield]{
    width: 75%;
    padding: 16px 32px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid silver;
    border-radius: 1px;
    text-align: left;
    color: #3333;
    background: #ccc;
}
input[type=button], input[type=submit], input[type=reset]{
    background-color: rgb(20, 230, 27);
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
}